#root {
  margin: 0 auto;
  text-align: center;
}

.welcome{
  text-align:center;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
}




